.box1 {
    height: 72px;
    background-color: snow;
    margin-left: 15%;
    margin-right: 15%;
}

.search_container {
    box-sizing: border-box;
}
.search_container {
    background-color: gray;
    border: none;
    height: 35px;
}
.search_container input[type="text"]:focus {
    outline: 0;
}
.search_container {
    cursor: pointer;
    font-family: FontAwesome;
    border: none;
    outline: none;
    width: 3em;
    height: 37px;
}
.font {
    font-size: 20px;
}

.box2 {
    height: 216px;
    background-color: skyblue;
}